$main-bg:hsl(223 30% 9%);
$nav-bg: hsl(223 36% 14%);
$search-btn-bg:hsl(223 23% 46%);
$hover-bg: #788196;
$white-bg: white;
$icons-bg: #5a6a90;
$overlay-bg: #00000033;
$odd-bg: rgb(14 116 144);
$even-bg: hsl(223 36% 14%);

$category-hover: #6495ed;
$search-border-color: #b8b4b4;
$place-holder-color: #c9c6c6;

$gray-color: #86888d;
$red-color:#FC4747;

$text-color: #ffffff;
$text-black: black;

