<div class="shows-container">
    
    <app-slider
    [title]="'Trending'"
    [categoryTitle]="'movie'"
    [category]="'movie'"
    [theTag]="'trending'"

    >

    </app-slider>


    <app-shows-group
    [title]="'Popular'"
    [categoryTitle]="'movie'"
    [category]="'movie'"
    [theTag]="'popular'"
    
    >

    </app-shows-group>

    <app-shows-group
    [title]="'Now Playing'"
    [categoryTitle]="'movie'"
    [category]="'movie'"
    [theTag]="'now_playing'"
    
    >

    </app-shows-group>

    <app-shows-group
    [title]="'Upcoming'"
    [categoryTitle]="'movie'"
    [category]="'movie'"
    [theTag]="'upcoming'"
    
    >

    </app-shows-group>

    <app-shows-group
    [title]="'Top Rated'"
    [categoryTitle]="'movie'"
    [category]="'movie'"
    [theTag]="'top_rated'"
    
    >

    </app-shows-group>



    <app-slider
    [title]="'Trending'"
    [categoryTitle]="'TV-SERIES'"
    [category]="'tv'"
    [theTag]="'trending'"

    >

    </app-slider>

    <app-shows-group
    [title]="'Popular'"
    [categoryTitle]="'TV SERIES'"
    [category]="'tv'"
    [theTag]="'popular'"
    
    >

    </app-shows-group>

    <app-shows-group
    [title]="'Airing Today'"
    [categoryTitle]="'TV SERIES'"
    [category]="'tv'"
    [theTag]="'airing_today'"
    
    >

    </app-shows-group>

    <app-shows-group
    [title]="'On Air'"
    [categoryTitle]="'TV SERIES'"
    [category]="'tv'"
    [theTag]="'on_the_air'"
    
    >

    </app-shows-group>

    <app-shows-group
    [title]="'Top Rated'"
    [categoryTitle]="'TV SERIES'"
    [category]="'tv'"
    [theTag]="'top_rated'"
    
    >

    </app-shows-group>

</div>